<div class="login-container">
    <h2>Login</h2>
    
    <form (submit)="login($event)">
      <label for="identity">Email or Username</label>
      <input type="text" id="identity" [(ngModel)]="identity" name="identity" required />
    
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    
      <button type="submit">Login</button>
    </form>
    
  
    <p *ngIf="error" class="error-message">Invalid credentials. Please try again.</p>
  </div>
  